<h5>{{myId}}</h5>
<label>Massage
<input type="text" [(ngModel)]="msg">
</label>
<button (click)="sendMsg(msg)">
  Send
</button>


<label>Set user nickName:</label>
<input type="text" [(ngModel)]="nickName">
<button (click)="sendNickName(nickName)">
  Send
</button>

<div>
  <label>To user
  <select [(ngModel)]="toUser">
    <option [value]="key.key" *ngFor="let key of connectedList | keyvalue">
      {{key.value||key.key}}
    </option>
  </select>
  </label>
</div>

<div>
  <ng-container *ngFor="let msg of history">
    <div>
      <h5>
        {{msg.from}}:{{msg.message}}
      </h5>
    </div>
  </ng-container>
</div>
